:root {
    --primaryFont: 'Antic Slab', serif;
  --secondaryFont: 'Open Sans', sans-serif;
}

/*Font Styling with Google Fonts
  font-family: 'Antic Slab', serif;
font-family: 'Open Sans', sans-serif;
*/

/* GLOBAL STYLING */
body {
  font-family: var(--primaryFont);
  background-color: plum;
}
.nav-item {
  font-size: xx-large;
}

.fab {
  font-size: 100px;
}

.jumbotron {
    background-color: silver;
  }
  
  a {
    color: black;
  }

.profile {
  width: 100px;
  height: 100px;
}

  .parallax {
    /* The image used */
    background-image: url("../img/pexels-miriam-espacio-110854.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
    .carousel-inner {
      width: 500px;

  }
  .carousel, .slide {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .btn, .btn-link, .btn-block {
    font-size: xx-large;
  }
  .form-size {
    margin-top: 500px;
    margin-bottom: 500px;
  }
 

  /* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .shrink-image {
    width: 300px;
  }
}
  /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .shrink-image {
    width: 400px;
  }
}

  /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .shrink-image {
    width: 700px;
  }
}
   /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .shrink-image {
    width: 800px;
  }
}

  /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
